header{
    font-size: 1em;
}

/* navigation section */
header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1em;
}

header nav .nav-right{
    display: flex;
    align-items: center;
}

header nav .nav-right .logo-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px;
    padding: 0px 0px;
}

header nav .nav-right .logo-btn img{
    width: 40%;
}

header nav .nav-right .home-btn{
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
}

header nav .nav-right .home-btn a{
    color: black;
    margin: 0px 20px 5px 0px;
    font-size: 1em;
}
header nav .nav-right .home-btn a:hover{
    color: #777;
}
header nav .nav-right .products-btn{
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}

header nav .nav-right .products-btn a{
    color: black;
    margin: 0px 10px;
    font-size: 1em;
}

header nav .nav-right .products-btn a:hover{
    color: #777;
}
header nav .nav-right .about-btn{
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}

header nav .nav-right .about-btn a{
    color: black;
    margin: 0px 10px;
    font-size: 1em;
}
header nav .nav-right .about-btn a:hover{
    color: #777;
}


header nav .nav-left{
    display: flex;
    align-items: center;
}
header nav .nav-left a{
    color: black;
    padding: 5px 5px;
    margin: 0px 5px;
    font-size: 1.1em;
}

/* slider section */
.slider{
    position: relative;
    font-size: 1em;
}
.slider .slides{

}
.slider .slides .item{
    position: relative;
    display: none;
}
.slider .slides .item img{
    width: 100%;
    max-height: 700px;
}
.slider .slides .item span{
    position: absolute;
    top: 5%;
    right: 30%;
    font-size: 1.2em;
    color: #333;
}
.slider .slides .active{
    display: block;
    animation-name: fadeIn;
    animation-duration: 2s;
}
.slider .buttons{
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 1;
}
.slider .buttons i{
    color:#666;
    margin-right: 3px;
    cursor: pointer;
}
.slider .buttons i:hover{
    color: rgba(220, 211, 197, 0.8);
}

/*logo brand list*/
.owl-stage-outer{
    direction: ltr;
}
.dragble-logo-list img{
    width: 50% !important;
    margin: auto;
}
.logo-card{
    text-align: center;
    padding: 10px;
}
.logo-card .img-logo{
    position: relative;
}
.logo-card .img-logo img{
    width: 100%;
}

/* product section */
.product-sec-new{
    padding: 20px 10px;
    font-size: 1em;
}
.product-sec-new .title{
    padding: 0px 30px;
    padding-bottom: 20px;
}
.product-sec-new .title span{
    font-size: 1.2em;
    color: #444;
    border-bottom: 1.5px solid #8f0817e0;
    font-weight: bold;
}
.shopping-card{
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
    margin: 10px 15px;
    border-radius: 5px;
    padding: 10px;
}
.shopping-card .img-sec{
    position: relative;
}
.shopping-card .img-sec img{
    width: 100%;
}
.shopping-card .img-sec .hot-offer{
    background-color: #8f0817e0;
    color: white;
    border-radius: 7px;
    padding: 3px 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: .9em;
}
.shopping-card .img-sec .stars{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #d7a739;
}
.shopping-card .title{
    color: #333;
    margin: 15px;
}
.shopping-card .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.shopping-card .buttons .right .price{
    color: #666;
}
.shopping-card .buttons .left{
    display: flex;
}
.shopping-card .buttons .left .extend-btn{
    display: flex;
    margin-left: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #0d485be8;
    color: white;
    width: 40px;
    padding: 8px 12px;
    border-radius: 25px;
    cursor: pointer;
    transition: .75s;
}
.shopping-card .buttons .left .extend-btn:hover{
    width: 100px;
}
.shopping-card .buttons .left .extend-btn:hover .b-text{
    display: block;
}
.shopping-card .buttons .left .extend-btn .b-text{
    display: none;
    color: white;
}
.shopping-card .buttons .left .extend-btn .b-icon{
    color: white;
    padding-top: 3px;
}

/* supperoffer section */
.supper-offer-section{
    padding: 20px;
    font-size: 1em;
}
.supper-offer-section .supper-offer-box{
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
    border-radius: 5px;
    margin: 0px 10px;
}
.supper-offer-box .supper-offer-box-title{
    background-color: #8f0817e0;
    color: white;
    padding: 8px 30px;
    display: inline-block;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.supper-offer-box .body .image-container{
    text-align: center;
    padding: 5px;
}
.supper-offer-box .body .image-container img{
    width: 90%;
}
.supper-offer-box .body .spesification{
    padding: 30px 5px;
}
.supper-offer-box .body .spesification .price-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.supper-offer-box .body .spesification .price-row .price{
    margin-left: 60px;
    color: #444;
    font-size: 1.2em;
}
.supper-offer-box .body .spesification .price-row .off{
    background-color: #8f0818e9;
    color: white;
    padding: 5px 20px;
    border-radius: 25px;
}
.supper-offer-box .body .spesification .title{
    margin: 40px 0px;
    font-weight: bold;
    color: #444;
    font-size: 1.4em;
}
.supper-offer-box .body .spesification .counter-down{
    border-top: 1px solid rgba(0, 0, 0, .4);
    margin: 10px 40px;
    padding-top: 20px;
    font-weight: bold;
    color: #666;
    font-size: 1.5em;
}
.supper-offer-box .body .spesification .remaining-time{
    color: #777;
    font-size: .8em;
}
.banner{
    text-align: center;
    padding: 10px 5px;
}
.banner img{
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
    width: 75%;
}

/* dragble list */
.owl-stage-outer{
    direction: ltr;
}
.dragble-list img{
    width: 100% !important;
    margin: auto;
}
.dragble-list .title{
    padding: 0px 30px;
    padding-bottom: 20px;
}
.dragble-list .title span{
    font-size: 1.2em;
    color: #444;
    border-bottom: 1.5px solid #8f0817e0;
    font-weight: bold;
}

/* footer */
footer{
    font-size: 1em;
    border-top: 1px solid rgba(0, 0, 0, .4);
    margin: 10px 40px;
}
footer .right{
    padding: 30px;
}
footer .right .title{
    padding: 10px 0px;
    color: #333;
    font-size: 1.2em;
}
footer .right .des{
    color: #555;
    line-height: 1.9em;
    font-size: .9em;
}
footer .left{
    padding: 30px;
}
footer .left .title{
    padding: 10px 0px;
    color: #333;
    font-size: 1.2em;
}
footer .left .socials{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
footer .left .socials a{
    color: #444;
    font-size: 1.4em;
}
footer .bottom{
    border-top: 1px solid rgba(0, 0, 0, .4);
    color: #666;
    text-align: center;
    padding: 10px;
}
